parameters:
- name: stageID
  type: string
  default: ''

steps:
- task: DownloadSecureFile@1
  inputs:
    secureFile: 'local.properties'
    retryCount: '5'

- ${{ if or(eq(parameters.stageID, 'release'), eq(parameters.stageID, 'build') }}:
  - task: DownloadSecureFile@1
    inputs:
      secureFile: 'secring.gpg'
      retryCount: '5'
  
  - task: DownloadSecureFile@1
    inputs:
      secureFile: 'secring.gpg.lock'
      retryCount: '5'

- ${{ if eq(parameters.stageID, 'build') }}:
  - task: CopyFiles@2
    inputs:
      SourceFolder: '$(Agent.TempDirectory)'
      Contents: '**'
      TargetFolder: '$(System.DefaultWorkingDirectory)'

